<nav class="navbar navbar-expand-lg navbar-light bg-light">
  
                      <a class="navbar-brand" href="./">m e m e n a t i o n</a>
                      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                      </button>
                      <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                          <li class="nav-item active">
                            <a class="nav-link active" id="home-link" href="./index_1.html">Home </a>
                          </li>
                          <li class="nav-item active">
                            <a class="nav-link active" id="signup-link" href="./signup.html">signup</a>
                          </li>
                            <li class="nav-item active">
                            <a class="nav-link active" id="login-link" href="./login.html">login</a>
                          </li>
                          <li class="nav-item active">
                            <a class="nav-link active" id="rules-link" href="./rules.html">rules</a>
                          </li>
                          <li class="nav-item active">
                            <a class="nav-link active" id="memes-link" href="./memes.html">memes</a>
                          </li>
                           <li class="nav-item active">
                            <a class="nav-link active" id="vaporwave-room-link" href="./vaporwave_room.html">vaporwave room</a>
                          </li>
                        </ul>
                      </div>
                    </nav>
