
        <div class="container-fluid">
          <div class="jumbotron">
              <h3>Get Meme'd</h3>
              <p>Whatever</p>
          </div>

      
          
          
          
          
          
              <div id="carousel-1" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
         <div class="card" >
                      <img class="card-img-top" src="download.png" alt="Card image cap">
                      <div class="card-body">
                          <h4 class="card-title">Signup</h4>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <a href="./signup.html" class="btn btn-primary">Go somewhere</a>
                      </div>
                  </div>
      </div>
      <div class="carousel-item">
        <div class="card" >
                      <img class="card-img-top" src="download.png" alt="Card image cap">
                      <div class="card-body">
                          <h4 class="card-title">Signup</h4>
                          <p class="card-text">I bet you can't catch me!</p>
                          <a href="./signup.html" class="btn btn-primary">Go somewhere</a>
                      </div>
                  </div>
      </div>
      <div class="carousel-item">
         <div class="card" >
                      <img class="card-img-top" src="download.png" alt="Card image cap">
                      <div class="card-body">
                          <h4 class="card-title">Signup</h4>
                          <p class="card-text">Now its my turn</p>
                          <a href="./signup.html" class="btn btn-primary">Go somewhere</a>
                      </div>
          
          
          
          
          
          
          
          
          
          
      </div>
  </div>